In [1]:
mystring = 'hello'

In [2]:
#create an empty list first
mylist = []
for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x for x in 'world']

In [7]:
mylist

['w', 'o', 'r', 'l', 'd']

In [8]:
mylist = [num for num in range(0,10)]

In [9]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
mylist = [num**2 for num in range(0,10)]

In [11]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
mylist = [num for num in range(0,10) if num%2==0]

In [13]:
mylist

[0, 2, 4, 6, 8]

In [16]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [17]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [19]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [21]:
result = [x if x%2==0 else 'Odd' for x in range(0,11)]

In [22]:
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [24]:
mylist = []

for x in [2,4,5]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [25]:
mylist

[200, 400, 600, 400, 800, 1200, 500, 1000, 1500]

In [26]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [27]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

SyntaxError: can't assign to function call (<ipython-input-11-6a659e6f32db>, line 1)

In [18]:
X = int(input())
Y = int(input())
Z = int(input())
N = int(input())
[[i,j,k] for i in range(X + 1) for j in range(Y + 1) for k in range(Z + 1) if i+j+k != N]

1
1
1
2

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]